/* html,
body {
    background-image: url('https://images.pexels.com/photos/163064/play-stone-network-networked-interactive-163064.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
    margin: 0;
    padding: 0;
}


#header {
    margin: 0.2vw 0vw 0.2vw 0.2vw;
    padding: 0.3vw;
    width: 98.9vw;
    height: 5vh;
    background: rgba(184, 159, 159, 0.609);
    border: 0.5px solid black;
    display: flex;
    align-items: center;
}

.choose {
    height: 5vh;
    width: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-left: 0.06px solid black;
}

.choose:hover {
    background: rgba(129, 110, 110, 0.609);
}

.choose:active {
    background: rgba(89, 77, 77, 0.609);
}

#bord {
    width: 99.99vw;
    height: 92.7vh;
    margin-top: vw;
    display: flex;
}

#pc {
    margin-left: 9vw;
    width: 75vw;
    height: 92vh;
    background-image: url('/image/pc.png');
    background-size: cover;
}

#bordImg {
    margin-top: 6.5vw;
    margin-left: 12.5vw;
    width: 50vw;
    height: 62vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-content: center;
    justify-content: space-around;
}

.image {
    padding: 1vw;
    width: 4vw;
    box-shadow: inset 0px 0px 50px 100px black;
}


#param {
    margin: 0.06vw;
    margin-left: 0.2vw;
    border: 0.5px solid black;
    height: 92.4vh;
    width: 7vw;
    background: rgba(184, 159, 159, 0.609);
    display: flex;
    flex-direction: column;

}

.listPlayers {
    height: 27vh;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-bottom: 0.06px solid black;
}

#moves {
    height: 13vh;
}

#gifLike {
    height: 10vh;
    width: 5vw;
    background: url('/image/like.webp');
    background-size: cover;
    position: absolute;
    z-index: 4;
    left: 52.54vw;
    top: 22vw;
    visibility: hidden;
}

#finalGame {
    width: 25vw;
    height: 50vh;
    background: url('/image/fireworks.gif');
    background-size: auto;
    position: absolute;
    z-index: 5;
    left: 42vw;
    top: 13vw;
    visibility: hidden;
} */